<!-- Launches the whole system for probabilistic scene recognition. -->
<launch>

  <!-- Start FoB. -->
  <include file="$(asr_flock_of_birds)/launch/flock_of_birds_remote.sh"/>

  <!-- Start tracking of the glove. -->
  <node name = "ptu_tracker" pkg = "asr_flock_of_birds_tracking" type = "asr_flock_of_birds_tracking" output = "screen">
    <param name = "ptu_calibration" value = "false"/>
    <rosparam file = "$(find asr_flock_of_birds_tracking)/launch/tracker_left_glove_settings.yaml"/>
  </node>
</launch>

 
 
 file:///data/joachimgehrung/ilcasRosPkg/trunk/control/asr_flock_of_birds_tracking
